.carousel {
    position: relative;
}

.carousel > div {
    display: flex;
    position: absolute;
}

.carouselImg {
    width: 400px;
    height: 100%;
    object-fit: cover;
}

/* Mobile */
@media (max-width: 600px) {
    .carousel > div {
        padding: 0 10px;
    }
    .carouselImg {
        width: 100%;
    }
}